<h1><%= t('view.task_index_screen') %></h1>
<%= link_to "終了期限でソートする", tasks_path(sort_deadline: "true") %>
<table>
  <thead>
    <tr>
      <th><h5><%= t('view.task_name') %></h5></th>
      <th><h5><%= t('view.discription') %></h5></th>
      <th><h5><%= t('view.deadline') %></h5></th>
      <th><h5><%= t('view.show') %></h5></th>
      <th><h5><%= t('view.edit') %></h5></th>
      <th><h5><%= t('view.delete') %></h5></th>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
    <tr>
      <td class="task_row"><%= task.task_name %></td>
      <td><%= task.discription %></td>
      <td><%= l task.deadline, format: :long %></td>
      <td><%= link_to t('view.show'), task_path(task.id) %></td>
      <td><%= link_to t('view.edit'), edit_task_path(task.id) %></td>
      <td><%= link_to t('view.delete'), task_path(task.id), method: :delete, data: {confirm: t('view.delete_task')} %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= link_to t('view.make_new_task'), new_task_path %>
