<h1><%= t('view.task_index_screen') %></h1>
<div class="serch_unit">
  <%= form_with scope: :task, url: tasks_path, method: :get, local: true do |f| %>
    <%= f.label t('view.task_name') %>
    <%= f.text_field :task_name %>
    <%= f.label t('view.status') %>
    <%= f.select :status, Status.options_for_status %>
    <%= f.submit "検索" %>
  <% end %>
</div>
<table>
  <thead>
    <tr>
      <th><%= t('view.task_name') %></th>
      <th><%= t('view.discription') %></th>
      <th><%= link_to t('view.expired_at'), tasks_path(sort_expired: "true") %></th>
      <th><%= t('view.status') %></th>
      <th><%= link_to t('view.priority'), tasks_path(sort_priority: "true") %></th>
      <th><%= t('view.show') %></th>
      <th><%= t('view.edit') %></th>
      <th><%= t('view.delete') %></th>
    </tr>
  </thead>
  <tbody class="task_list">
    <% @tasks.each do |task| %>
    <tr>
      <td class="task_row"><%= task.task_name %></td>
      <td><%= task.discription %></td>
      <td><%= l(task.expired_at, format: :long) %></td>
      <td><%= t("status.#{task.status}") %></td>
      <td><%= t("priority.#{task.priority}") %></td>
      <td><%= link_to t('view.show'), task_path(task.id) %></td>
      <td><%= link_to t('view.edit'), edit_task_path(task.id) %></td>
      <td><%= link_to t('view.delete'), task_path(task.id), method: :delete, data: {confirm: t('view.delete_task')} %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= paginate(@tasks) %>
<%= link_to t('view.make_new_task'), new_task_path %>
