<div class="col-md-1">
</div>
<div class="col-xs-12 col-md-11">
  <h1 class="mb-3"><%= t('view.task_show_screen') %></h1>
  <table class="table">
    <thead>
      <tr>
        <th><%= t('view.task_name') %></th>
        <th><%= t('view.discription') %></th>
        <th><%= t('view.expired_at') %></th>
        <th><%= t('view.created_at') %></th>
        <th><%= t('view.status') %></th>
        <th><%= t('view.priority') %></th>
        <th><%= "" %></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="task_row"><%= @task.task_name %></td>
        <td><%= @task.discription %></td>
        <td><%= l(@task.expired_at, format: :long) %></td>
        <td><%= l(@task.created_at, format: :short) %></td>
        <td><%= t("status.#{@task.status}") %></td>
        <td><%= t("priority.#{@task.priority}") %></td>
        <td>
          <%= link_to t('view.edit'), edit_task_path(@task.id), class: "btn btn-outline-success edit-btn" %>
          <%= link_to t('view.delete'), task_path(@task.id), method: :delete, data: {confirm: t('view.delete_task')}, class: "btn btn-outline-danger delete-btn" %>
        </td>
      </tr>
    </tbody>
  </table>
  <br>
  <%= link_to "戻る", tasks_path %>
</div>
