<div class="col-md-1">
</div>
<div class="col-xs-12 col-md-6">
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this <%= @user.user_name %> from being saved:</h2>
      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <h1 class="mb-3">ユーザー修正管理画面</h1>
  <div class="">
    <%= form_with(model: [:admin, @user], local: true) do |f| %>
    <div class="form-group">
      <%= f.label :user_name %>
      <%= f.text_field :user_name, class: "form-control", placeholder: "例) タスクマネ郎" %>
    </div>
    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, class: "form-control", placeholder: "例) xxx@mail.com" %>
    </div>
    <div class="form-group">
      <%= f.label :password, t('view.password') %>
      <%= f.password_field :password, class: "form-control", placeholder: "6文字以上" %>
    </div>
    <div class="form-group">
      <%= f.label :password_confirmation, t('view.password_confirmation') %>
      <%= f.password_field :password_confirmation, class: "form-control", placeholder: "上記のパスワードを再入力" %>
    </div>
    <div class="form-check">
      <%= f.check_box :admin, class: "form-check-input" %>
      <%= f.label :admin, class: "form-check-label" %>
    </div>
    <div class="form-group mt-3">
      <%= f.submit "登録", class: "btn btn-info" %>
    </div>
    <% end %>
  </div>
</div>
<div class="col-md-5">
</div>
